language: perl
matrix:
    fast_finish: true
services:
    - redis-server
perl:
    - "5.14"
install:
    # install prereqs
    - "cpanm Moose"
    - "cpanm Test::More"
    - "cpanm Test::Most"
    - "cpanm Test::FailWarnings"
    - "cpanm Test::Perl::Critic"
    - "cpanm MooseX::Singleton"
script:
    - "perl Makefile.PL && make test" 
